{% extends 'frontend/base.html.twig' %}

{% block title %}Liste des clients {% endblock %}

{% block body %}
    <h1>Liste des clients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdClient</th>
                <th>NomEntreprise</th>
                <th>Siret</th>
                <th>Adresse_facturation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.idClient }}</td>
                <td>{{ client.nomEntreprise }}</td>
                <td>{{ client.siret }}</td>
                <td>{{ client.adresseFacturation }}</td>
                <td>
                    <a href="{{ path('admin_client_show', {'idClient': client.idClient}) }}">show</a>
                    <a href="{{ path('admin_client_edit', {'idClient': client.idClient}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_client_new') }}">Create new</a>
{% endblock %}
