{% extends 'frontend/base.html.twig' %}

{% block title %}
    Données Personelles
{% endblock %}

{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ml-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                   
                    {#<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Témoignages</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#clients">Partenaires</a></li>#}
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->


    <header class="masthead">
        <div class="container">
            <div class="text-left">
                 <div class="masthead-heading text-uppercase">Données Personelles</div>
                
                

                {# <div class="col-md-9">
                    <div class="row my-3">
                        <a class="btn btn-secondary btn-xl text-uppercase" href="{{ path('register', {compte: 'fournisseur'}) }}">Je Souhaite travailler</a>
                    </div>
                    <div class="row my-3">
                        <a class="btn btn-secondary btn-xl text-uppercase" href="{{ path('register', {compte: 'client'}) }}">Je recherche du renfort</a>
                    </div>
                </div> #}
            </div>
        </div>
        </div>
    </header>

  

   <div class="container">
        <div class="card bg-light shadow-lg p-3 m-5 bg-white rounded">
            <div class="card-title text-center">
                
            </div>
            <div class="card-body">

                <h4> Collectes des données </h4>
                Conformément à la loi dite « Informatique et Libertés » du 6 janvier 1978 modifiée par la loi du 6 août 2004, l’Utilisateur est informé que la Société procède à des traitements automatisés des données à caractère personnel de l’Utilisateur, notamment lors de sa connexion au Site, de son inscription au Site.
                ‍<br>
                La Société est destinataire des données à caractère personnel recueillies par l'intermédiaire du Site. Elle s’engage à mettre tous les moyens en œuvre pour assurer la sécurité et la confidentialité de ces données. Ces données sont destinées à permettre à la Société de rendre les Services accessibles à l’Utilisateur et sont également utilisées à des fins de statistiques, de prospection commerciale directe et d’envoi de newsletters. Les informations collectées ne sont ni revendues ni communiquées à des tiers. La Société conserve les données pour une durée de cinq ans à compter de la clôture du compte de l’Utilisateur. Conformément aux dispositions de la loi dite « informatique et liberté » du 6 janvier 1978 modifiée par la loi du 6 août 2004, l’Utilisateur dispose d'un droit d'accès, de modification, de rectification et de suppression des données à caractère personnel qui le concernent. L’Utilisateur peut également s’opposer à ce traitement pour des motifs légitimes. Pour exercer ses droits, il suffit à l’Utilisateur d’écrire à l’adresse électronique suivante : contact@sosjob.fr ou d'adresser un courrier au siège social de la Société au 33 rue de la Butte aux Cailles, Paris 13.
                
                <br><br>
                <h4> Cookies </h4>
                Pour le bon fonctionnement du Site et des Services, des cookies sont implantés dans l’ordinateur du l’Utilisateur lors de sa connexion au Site. Les cookies enregistrent des informations relatives à la navigation (pages consultées, date et heure de la consultation, etc.) et à l’identification de ses Utilisateurs.
                La durée de conservation des cookies implantés par la Société est de 6 mois. L’Utilisateur dispose toutefois de la possibilité de s’opposer à l'utilisation des cookies en configurant son logiciel de navigation. Chaque logiciel de navigation étant différent, l’Utilisateur est invité à consulter la notice de son navigateur pour le paramétrer comme il le souhaite.


            </div>
        </div>
    </div>
  
    
    <!-- Footer-->
    <footer class="footer py-4  text-uppercase">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-lg-3 text-lg-left">
                    <h6>Sos Job</h6>
                    <div class="mt-3">
                        <a class="link-dark"  href="{{ path('login') }}">se connecter</a><br>
                        <a class="link-dark"  href="{{ path('register')}}">Inscription  </a><br>
                        <a class="link-dark"  href='{{ path('faq_entreprise')}}' target='_blank'>FAQ Entreprises</a><br>
                        <a class="link-dark"  href='{{ path('faq_fournisseur')}}' target='_blank'>FAQ Jober </a><br>
                    </div>
                </div>
                <div class="col-lg-3 text-lg-left">
                    <h6> Découvrir </h6>
                    <div class="mt-3">
                        <a class="link-dark"  href="{{ path('Blog1') }}">Blog </a><br>
                        <a class="link-dark"  href="#contact">Contact</a><br>
                        <a></a><br>
                        <a></a><br>
                    </div>
                </div>

                <div class="col-lg-3 text-lg-left">
                    <h6> Resources </h6>
                    <div class="mt-3">
                        <a class="link-dark"  href='{{ path('mentions_legales') }}' target='_blank'>Mentions Légales </a><br>
                        <a class="link-dark"  href='{{ path('conditions') }}' target='_blank'>Conditions Générales </a><br>
                        <a class="link-dark"  href='{{ path('donneespers') }}' target='_blank'>Données Personelles</a><br>
                        <a class="link-dark"  href='/blog/img/M-F.pdf' download="Mandat-De-Faturation.pdf">Mandat de Facturation</a><br>
                    </div>
                </div>

                <div class="col-lg-3 my-3 my-lg-0">
                    <h6> Réseaux Sociaux </h6>
                    <div class="mt-3">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a><br>
                        <a></a><br>
                        <a></a><br>
                        <a></a><br>
                    </div>
                </div>
                {# <div class="col-lg-5 text-lg-right">
                <a class="mr-3" href="#!">Politique de confidentialité</a>
                <a href="#!">Conditions d'utilisation</a>
            </div>#}
            </div>
        </div>
    </footer>
    <!-- Portfolio Modals-->
    <!-- Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/01-full.jpg" alt="" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: January 2020</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/02-full.jpg" alt="" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: January 2020</li>
                                    <li>Client: Explore</li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 3-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/03-full.jpg" alt="" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: January 2020</li>
                                    <li>Client: Finish</li>
                                    <li>Category: Identity</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 4-->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/04-full.jpg" alt="" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: January 2020</li>
                                    <li>Client: Lines</li>
                                    <li>Category: Branding</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 5-->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/05-full.jpg" alt="" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: January 2020</li>
                                    <li>Client: Southwest</li>
                                    <li>Category: Website Design</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 6-->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/06-full.jpg" alt="" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: January 2020</li>
                                    <li>Client: Window</li>
                                    <li>Category: Photography</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!-- Contact form JS-->
    <script src="assets/mail/jqBootstrapValidation.js"></script>
    <script src="assets/mail/contact_me.js"></script>

    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
{% endblock %}
